includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
        - resources/views/livewire

    level: 5

    tmpDir: storage/framework/phpstan

    scanFiles:
        - bootstrap/app.php